{% extends "admin_template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} Miembros BEST Madrid {% endblock %}
{% block content_admin %}
<style>
/*Special CSS Style for options Modal By Lukas*/
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  /*padding-right:250px; /**/
  left: 0px;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.xx {
  margin: 50px auto;
  width: 250px;
  height: 250px;
  border-top: 20px solid #3ACFD5;
  border-bottom: 20px solid #3a4ed5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 20px 100%;
  -moz-background-size: 20px 100%;
  background-size: 20px 100%;
  background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
}
/* Modal Content */
.modal-content {
  position: absolute;
  float: left;
  background-color: #404060;
  margin: auto;
  padding: 10px;
  color: #000000;
  /*border: 1px solid #888;*/
  /*border: linear-gradient(45, rgb(0,143,104), rgb(250,224,60))*/
  /*width: 200px;*/
  border-top: 2px solid #ca2c92;/*#3ACFD5;*/
  border-bottom: 2px solid #3a4ed5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 20px 100%;
  -moz-background-size: 20px 100%;
  background-size: 2px 100%;
  background-image: -webkit-linear-gradient(top, #ca2c92 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #ca2c92 0%, #3a4ed5 100%);
  background-image: -moz-linear-gradient(top, #ca2c92 0%, #3a4ed5 100%), -moz-linear-gradient(top, #ca2c92 0%, #3a4ed5 100%);
  background-image: -o-linear-gradient(top, #ca2c92 0%, #3a4ed5 100%), -o-linear-gradient(top, #ca2c92 0%, #3a4ed5 100%);
  background-image: linear-gradient(to bottom, #ca2c92 0%, #3a4ed5 100%), linear-gradient(to bottom, #ca2c92 0%, #3a4ed5 100%);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}
</style>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
        <h4 class="card-title">{{ title }}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Usuario
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Apellidos
                </th>
                <th>
                  Membresia
                </th>
              </tr>
            </thead>
            <tbody id="tabla">
            </tbody>
          </table>
        </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-8-auto">
              <div id="page-button">
              </div>
            </div>
            <div class="col">
            </https://www.amazon.es/s?k=latitude+5401&__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&ref=nb_sb_noss_2div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="options-modal" class="modal">
    <div id="option" class="modal-content">
      <tr>
        <button class="dropdown-item" id="change-role">Cambiar roles</button>
      </tr>
      <tr>
        <button class="dropdown-item" id="test">Otra opcion</button>
      </tr>
      <tr>
        <button class="dropdown-item" id="test2">Otra opcion2</button>
      </tr>
    </div>
  </div>

  <div id="role-modal" class="modal">
    <div id="role-content-modal" class="modal-content modal-lg">
      <div class="modal-header">
        <h2 class="modal-title">Modificar Roles</h2>
        <button type="button" class="close" id="role-modal-close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal_inside">
        <!--Metemos aqui todo el contenido del modal-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="role-save">Guardar Cambios</button>
        <button type="button" class="btn btn-secondary" id="role-dismiss"=>Cancelar</button>
      </div>


    </div>
  </div>
</div>
  {% endblock %}
  {% block javascripts %}
  <script>



  function closeModal(event){
    var modal = event.target;
    if(modal.getAttribute("class")=="modal"){
      modal.style.display = "none";
    }
      //if(event.target == modal){
      //  modal.style.display = "none";
      //}
  }
  var url_server = 'http://localhost:5000'
  var endpoint = '/api/users?'
  //var users_pages = '/api/users?page='
  var page =1;
  var items_per_page= 10;
  var table = document.getElementById("tabla");
  var button_slot=document.getElementById("page-button");
  var request = new XMLHttpRequest();
  var object;

  //setData('/api/users_roles/1')
  getData('/api/users', fillUsersTable, table);
  //fillUsersTable(table, data);
  function fillUsersTable(table, data){
    for( usuario in data.items){
      var val_1 = document.createElement("TD")
      var a = document.createElement("a");
      var content = document.createTextNode(data.items[usuario].Usuario)
      a.appendChild(content);
      a.href='/user/'+data.items[usuario].Usuario;
      val_1.appendChild(a)
      var val_2 = document.createElement("TD")
      var content = document.createTextNode(data.items[usuario].Nombre)
      val_2.appendChild(content)
      var val_3 = document.createElement("TD")
      var content = document.createTextNode(data.items[usuario].Apellidos)
      val_3.appendChild(content)
      var val_4 = document.createElement("TD")
      var temp = [];
      for (x in data.items[usuario].Membresia){
        temp.push(data.items[usuario].Membresia[x].tipo);
      }
      var content = document.createTextNode(temp)
      val_4.appendChild(content)
      var settings = document.createElement("TD");
      var content= document.createElement("button");
      content.setAttribute("class", "btn btn-link btn-sm tim-icons icon-settings-gear-63");
      var url = "/api/users_roles/"+data.items[usuario].id;  //change to: { url_for(api_bp.get_roles_Settings_of_User) }
      content.setAttribute("link", url);
      content.addEventListener("click", cogwheel_options, false);
      settings.appendChild(content)

      var fila = document.createElement("TR")
      fila.appendChild(val_1)
      fila.appendChild(val_2)
      fila.appendChild(val_3)
      fila.appendChild(val_4)
      fila.appendChild(settings)
      table.appendChild(fila)
    }
  }

  function cogwheel_options(e){
    var modal = document.getElementById("options-modal");
    var cogwheel = e.target;
    var url=cogwheel.getAttribute("link");
    var position=cogwheel.getBoundingClientRect();
    var option_box = document.getElementById("option");
    option_box.style.top=position.bottom+window.scrollY+"px";
    option_box.style.left=position.left-200+window.scrollX+"px";
    option_box.style.width='200px';
    modal.style.display = "block";
    modal.addEventListener("click", closeModal, false);
    var change_role=document.getElementById("change-role");
    change_role.setAttribute("link", url);
    change_role.addEventListener("click", change_Role, false);
  }

  function change_Role(e){
    var button=e.target;
    var url = button.getAttribute("link");
    var modal=document.getElementById("role-modal");
    var modal_content=document.getElementById("role-content-modal")
    modal_inside=document.getElementById("modal_inside");
    getData(url, fillModal, modal_inside)
    modal_content.style.left="50%";
    modal_content.style.top="250px";
    modal_content.style.transform="translate(-50%, -50%)";
    var saveRoles=document.getElementById("role-save");
    saveRoles.onclick = function(){
      var fila=document.getElementById("role-settings");
      for (x in object.Membresia){
        var element=document.getElementById("role_id_"+x)
        object.Membresia[x].state=(element.checked);
      }
      var url=object.self;
      setData(url, object);
      modal.style.display="None";
    }
    document.getElementById("role-dismiss").onclick=function(){
      modal.style.display="None";
    }
    document.getElementById("role-modal-close").onclick=function(){
      modal.style.display="None";
    }
    modal.style.display = "block";
    modal.addEventListener("click", closeModal, false);
  }

  function fillModal(modal, data){
    while(modal_inside.hasChildNodes()){
      modal_inside.removeChild(modal_inside.firstChild)
    }
    modal_inside=document.createElement("DIV");
    var paragraph1 = document.createTextNode("Usuario: "+data.Usuario);
    var br = document.createElement("br");
    var paragraph2 = document.createTextNode("Nombre y Apellidos: "+data.Nombre+" "+ data.Apellidos);
    object=data;
    tabla=document.createElement("TABLE");
    tabla.setAttribute("class", "table tablesorter");
    var fila = tabla.insertRow(0);
    var fila1 = tabla.insertRow(1);
    fila1.setAttribute("id", "role-settings")
    fila.setAttribute("class", "text-primary");
    for (x in data.Membresia){
      var celda=fila.insertCell(x);
      celda.innerHTML=data.Membresia[x].tipo;
      var celda=fila1.insertCell(x);
      var switch1=document.createElement("label");
      switch1.setAttribute("class", "switch");
      var input= document.createElement("INPUT");
      input.setAttribute("type", "checkbox");
      input.setAttribute("id", "role_id_"+x);
      if(data.Membresia[x].state){
        input.checked= true;
      }
      switch1.appendChild(input);
      var span=document.createElement("SPAN");
      span.setAttribute("class", "slider round");
      switch1.appendChild(span);
      celda.appendChild(switch1);
      //celda.innerHTML=data.Membresia[x].state;
    }
    modal_inside.style.color= "white";

    modal_inside.appendChild(paragraph1);
    modal_inside.appendChild(br)
    modal_inside.appendChild(paragraph2);
    modal_inside.appendChild(tabla);
    modal.appendChild(modal_inside);
  }

  function loadNewPage(e){
    if (e.target.tagName.toLowerCase() == "button") {
      while(table.hasChildNodes()){
        table.removeChild(table.firstChild)
      }
      while(button_slot.hasChildNodes()){
        button_slot.removeChild(button_slot.firstChild)
      }
    	var btn = e.target;
      page=btn.getAttribute("page")
      getData(btn.getAttribute("href"), fillUsersTable, table);
    }
  }

  function getData(url, function_to_do, element){    //_sufix=null, page=1, items=10
    request.open('GET', url, true);
    request.onload = function(){
      if(request.status>=200&&request.status < 400){
        var data = JSON.parse(this.response);
        function_to_do(element, data);
        if(data._meta.total_pages>1){
          var arr = [];
          for(x=0; x<data._meta.total_pages; x++){
            var button = document.createElement("button");
            button.setAttribute("class", "btn btn-secondary");
            var url=endpoint+'page='+(x+1)+'&per_page='+items_per_page;
            button.setAttribute("href", url);
            button.setAttribute("page", (x+1));
            var val=document.createTextNode(x+1);
            button.appendChild(val);
            button_slot.appendChild(button);
            button_slot.innerHTML += " ";
          }
          button_slot.addEventListener("click", loadNewPage);
        }
        return data;
      }
    }
    request.send();
  }

  function setData(url, data){
    request.open('PUT', url, true);
    request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
    request.onload = function(){
      var data = JSON.parse(request.responseText);
      if (request.readyState == 4 && request.status == "200"){
        console.table(data);
      }
      else{
        console.error(data);
      }
    }
    var json = JSON.stringify(data);
    console.log(json)
    request.send(json)
  }
  </script>
  {% endblock %}
