{% extends "poll_template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} {{ title }} {% endblock %}
{% block content_poll %}
  <div class="container">
    <table class="table">
      <h1>Votaciones abiertas</h1>
      <thead class= "text-primary">
        <th>
          Titulo
        </th>
        <th>
          Descripcion
        </th>
        <th>
          Fecha de Finalizacion
        </th>
      </thead>
      <tbody>
        {% for x in data_OpenPolls %}
        <tr>
          <td>{{x.name}}</td>
          <td>{{x.description}}</td>
          <td>{{x.end_date}}</td>
          <td><a href="{{ url_for('poll_blueprint.VotePoll') }}/{{ x.id_poll }}" class="btn btn-success">Votar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



  </div>
  {% endblock %}
